:root{
    --deep: #1B72BF;
    --sea: #348ABF;
    --sky: #7EBFD9;
    --light: #F2D377;
    --sand: #F2B366;
}

body{
    background-color: var(--light);
}

button{
    background-color: var(--sea)!important;
}

.prev{
    text-transform: capitalize;
}

.card{
    background-color: var(--sky);
    border: 2px solid var(--sand);
}

.card-header{
    background-color: var(--sea);
    color: white;
    border: 2px solid var(--sand)
}

.card-text{
    color:white;
}

h2{
    text-transform: capitalize;
}

.jumbotron{
    background-color: var(--deep);
    color: white;
}

.search-head{
    margin-left: 0.25rem;
}

.toggle{
    display: none
}

.uvi{
    border: 1px solid black;
    padding: .25rem;
    border-radius: 5px;
}



